<div class="container sign-up-page">

<h2>Are you a new customer?</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field custom-form-field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "enter email", type: "email", required: true %>
  </div>

  <div class="field custom-form-field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control", required: true %>
  </div>

  <div class="field custom-form-field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", required: true %>
  </div>

  <h2>Don't forget to add your name</h2>
  <div class="field custom-form-field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autocomplete: "off", class: "form-control", placeholder: "first name" %>
  </div>

  <div class="field custom-form-field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autocomplete: "off", class: "form-control", placeholder: "last name" %>
  </div>

  <button class="actions btn">
    <%= f.submit "sign up" %>
  </button>
<% end %>

<h3><%= render "devise/shared/links" %></h3>

</div>
