<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
  <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag('brand-logo_temporary.png'), root_path, class: "navbar-brand" %>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar-left">
        <div class="form-group">
        <%= form_with(url: products_path, method: 'get', local: true) do |form| %>
          <%= form.label :q, 'Take a look' %>
          <%= form.text_field :q, id: 'q', value: params[:q] %>
          <%= form.submit 'Search', class: 'btn' %>
        <% end %>
        </div>
      </form>
      		
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "home", root_path %></li>
        <li><%= link_to "about", simple_pages_about_path %></li>
        <li><%= link_to "contact", simple_pages_contact_path %></li>
        <li><%= link_to "products", products_path %></li>
        <li><%= link_to "orders", orders_path %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>