<%= image_tag("drache_web.jpg", class: "img-responsive product-show") %>

<div class="container-fluid page-section first-contact" align="center" >
  <h1>where to first?</h1>
    <button type="button"><span><%= link_to "to the products", products_path %></span></button>

    <button type="button"><span><%= link_to "to the orders", orders_path %></span></button>
</div>

<div class="about-section page-section">
  <%= render partial: 'about' %>
</div>

<div class="page-section">
  <%= render partial: 'contact' %>
</div>

