<div class="container">
	<h2>order information</h2>
	
	<div class="order-item">
		<ul>
			<li><strong>order ID: </strong><%= @order.id %></li>
			<li><strong>product name: </strong><%= @order.product.name %></li>
			<li><strong>product price: </strong><%= number_to_currency(@order.product.price.to_f, unit: "€") %></li>
			<li><strong>total price: </strong><%= number_to_currency(@order.total.to_f, unit: "€") %></li>
		</ul>
	</div>	

	<h3><%= link_to "back", orders_path %></h3>
</div>