<p id="notice"><%= notice %></p>

<h1>Products</h1>

<div class="container-fluid">
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-sm-6 col-md-4 product-item">
        <a href="#"><h3><%= product.name %></h3></a>
        
          <div class="gallery-item">
            <%= image_tag(product.image_url, class: "img-responsive") %>
          </div>
          
          <p><%= product.description %> | <%= product.mediums %> | <%= product.price %>€</p>

        <p><%= link_to 'Show', product %>
        <%= link_to 'Edit', edit_product_path(product) %>
        <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></p>
      </div>
    <% end %>
  </div>
  <p><%= link_to 'New Product', new_product_path %></p>

</div>



