<p id="notice"><%= notice %></p>

<div class="container product-data">
  <p>
    <strong>name:</strong>
    <%= @product.name %>
  </p>

  <p>
    <strong>description:</strong>
    <%= @product.description %>
  </p>

  <p>
    <strong>mediums:</strong>
    <%= @product.mediums %>
  </p>

  <p>
    <strong>price:</strong>
    <%= number_to_currency(@product.price.to_f, unit: "€") %>
  </p>

  <p>
    <strong>image url:</strong>
    <%= @product.image_url %>
  </p>


  <h3><%= link_to 'edit', edit_product_path(@product) %> |
  <%= link_to 'back to products', products_path %></h3>
</div>

<div class="container-fluid product-image">
  <%= image_tag(@product.image_url, class: "img-responsive") %>
</div>
