
<%= image_tag(@product.image_url, class: "img-responsive product-show") rescue nil %>

<div class="container-fluid product-data">
  
  <h3><%= link_to 'edit', edit_product_path(@product) %> |
  <%= link_to 'back to products', products_path %></h3>

  <p>
    <strong>name:</strong>
    <%= @product.name %>
  </p>

  <p>
    <strong>description:</strong>
    <%= @product.description %>
  </p>

  <p>
    <strong>medium:</strong>
    <%= @product.medium %>
  </p>

  <p>
    <strong>price:</strong>
    <%= number_to_currency(@product.price.to_f, unit: "€") %>
  </p>

  <p>
    <strong>image url:</strong>
    <%= @product.image_url %>
  </p>
</div>

<div class="container-fluid comment-section">
  <%= @product.highest_rating_comment %>
  <%= @product.lowest_rating_comment %>
</div>

