<!DOCTYPE html>
<html>
  <head>
    <%= render 'simple_pages/head' %>
  </head>

  <body>
    <% if notice %>
      <div class="notice alert-success alert-dismissable" role="alert">
        <%= notice %>
      </div>
    <% end %>
    <% if alert %>
      <div class="alert alert-danger" role="alert" >
        <%= alert %>
      </div>
    <% end %>
		<%= render 'simple_pages/nav' %>
    
    
    <div class="container section-backdrop">
      <%= yield %>
    </div>
    
    <footer>
    	&copy; 2017 soberi
    </footer>

  </body>
</html>
