<!DOCTYPE html>
<html>
  <head>
    <%= render 'simple_pages/head' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
		<%= render 'simple_pages/nav' %>
    
    
    <div class="container section-backdrop">
      <%= yield %>
    </div>
    
    <footer>
    	&copy; 2017 soberi
    </footer>

  </body>
</html>
